{% extends 'blog/base.html' %}


{% block title %}
	Share
{% endblock %}

{% block content %}
	{% if sent %}
		<h2>Email successfully sent to {{ form.to }}</h2>
	{% else %}
		<h1>Share "{{ post.title }}"</h1><br><br>
		<form action="." method="post">	
			{% for field in form %}
			<div>
				{{ field.errors }}
				{{ field.label_tag }}<br>
				{{ field }}
			</div>
			{% endfor %}
			{% csrf_token %}<br>
			<input class="btn btn-primary" type="submit" value="Send e-mail"><br><br>
		</form>
	{% endif %}
{% endblock %}